<ion-header [translucent]="true">
  <ion-toolbar color="darkslateblue">
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item>
    <ion-label>
      1. Chip
    </ion-label>

    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
 </ion-item>
  <ion-item>
    <ion-label>
      Date Time
    </ion-label>
    <ion-datetime [isDateEnabled]="isWeekday"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>
      3. Input
    </ion-label>
    <br>
    <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      4.List
    </ion-label>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Acc</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Me</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>It</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

</ion-content>
