<ion-header [translucent]="true">
  <ion-toolbar color="darkslateblue">
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="aliceblue">
    <ion-label>
      Action Sheets
    </ion-label>
    <ion-button (click)="setOpen(true)" color="aliceblue">Open</ion-button>
  <ion-action-sheet [isOpen]="isActionSheetOpen" header="Actions" [buttons]="actionSheetButtons"(didDismiss)="setOpen(false)"></ion-action-sheet>
  </ion-item>
  <ion-item color="navajowhite">
    <ion-label>
      Alert Button
    </ion-label>
    <ion-button id="present-alert" color="navajowhite">Click Me</ion-button>
<ion-alert trigger="present-alert" header="Alert!" [buttons]="alertButtons">
</ion-alert>
  </ion-item>
  <ion-item color="mediumseagreen">
    <ion-label>
      Alert Input
    </ion-label>
    <ion-button id="present-alert1" color="mediumseagreen">Click Me</ion-button>
<ion-alert
  trigger="present-alert1" header="เพิ่มสมาชิก" [buttons]="alertButton1" [inputs]="alertInputs">
</ion-alert>
  </ion-item>
  <ion-item color="orangered">

        <ion-label>Badge</ion-label> <br>
        <ion-badge >กำลังตรวจสอบ ...</ion-badge>
  </ion-item>
  <ion-item color="indigo">
    <ion-label>
      Checkbox
    </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
</ion-content>
